<div class="h-screen flex justify-center items-center bg-gray-200">
  <div class="w-3/12 bg-white mr-8 px-6 py-4 shadow-md rounded border-t-4 border-red-500 text-center">
    <div>
      <app-avatar
          [avatarUrl]="this.profile?.avatar_url"
          (upload)="updateProfile(username.value, website.value, $event)">
      </app-avatar>
    </div>
    <div class="flex pt-4">
      <input
        id="email"
        class="w-full rounded border-gray-300 focus:border-red-500 focus:ring-red-400"
        type="text"
        [value]="session?.user?.email"
        disabled
      />
    </div>
    <div class="flex pt-4">
      <input
        #username
        id="username"
        class="w-full rounded border-gray-300 focus:border-red-500 focus:ring-red-400"
        type="text"
        [value]="profile?.username ?? ''"
      />
    </div>
    <div class="flex pt-4">
      <input
        #website
        id="website"
        class="w-full rounded border-gray-300 focus:border-red-500 focus:ring-red-400"
        type="url"
        [value]="profile?.website ?? ''"
      />
    </div>

    <div class="flex pt-4 justify-end gap-2">
      <button
        class="mt-2 py-2 px-4 bg-gray-400 rounded shadow hover:shadow-lg hover:bg-gray-200"
        (click)="signOut()"
      >
        Sign Out
      </button>
      <button
        class="mt-2 py-2 px-4 bg-red-500 text-white rounded shadow hover:shadow-lg hover:bg-red-400"
        (click)="updateProfile(username.value, website.value)"
        [disabled]="loading"
      >
        {{loading ? 'Loading ...' : 'Update'}}
      </button>
    </div>
  </div>
</div>
